[Desktop Entry]
Type=Application
Name=PlayPnP Stop
GenericName=DLNA Media Renderer
Comment=Stop the PlayPnP daemon (shows result in OSD popup)
Exec=bash -c "/home/soham/.cargo/bin/playpnp stop 2>&1 | xargs -r -I{} /usr/local/bin/qs -p /home/soham/dotfiles/shell ipc call osd showText {} cast"
Icon=vlc
Terminal=false
Categories=AudioVideo;Player;
Keywords=playpnp;pnp;stop;quit;dlna;upnp;
StartupNotify=false
