[Desktop Entry]
Type=Application
Name=Night Light
Comment=Toggle Night Light
Exec=/usr/local/bin/qs -p /home/soham/dotfiles/shell ipc call nightLight toggle
Icon=com.mitchellh.ghostty
Terminal=false
Categories=System;
Keywords=nightlight;night;light;bluelight;hyprshade;
StartupNotify=false
